body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.bg-primary2 {
  background-color: rgb(209, 228, 255);
}

.search:focus {
  outline: none;
}

/* Navbar */
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  border-bottom: 2px solid rgb(81, 153, 255) !important;
}

/* New Book */
#newbook .col-lg-3 {
  transition: 0.5s;
}

#newbook img {
  box-shadow: rgb(255, 255, 255) 5px 5px, rgb(81, 153, 255) 10px 10px;
}

#newbook .col-lg-3:hover {
  margin: 0 !important;
}

/* About */
#about iframe {
  box-shadow: rgb(255, 255, 255) 5px 5px, rgb(81, 153, 255) 10px 10px;
}

/* Artikel */
#artikel a {
  transition: 0.5s;
}

#artikel a:hover {
  margin-left: 10px;
}

#artikel .card {
  transition: 0.5s;
}

#artikel .card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media only screen and (max-width: 991px) {
  nav .nav-link {
    padding: 25px 0 !important;
  }
}
